<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>173891151864-g7jmc8mvtocpjkeiscai7fvm2a9f2tjf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.173891151864-g7jmc8mvtocpjkeiscai7fvm2a9f2tjf</string>
	<key>API_KEY</key>
	<string>AIzaSyA9YjoLJcklcu4g9o_4eSPVaCcIxGOwjAo</string>
	<key>GCM_SENDER_ID</key>
	<string>173891151864</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.simpleNotes</string>
	<key>PROJECT_ID</key>
	<string>simple-notes-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>simple-notes-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:173891151864:ios:230b70d3c053da0589180d</string>
</dict>
</plist>